<h1 class="animated fadeIn fast">Sobre Comic App</h1>

<hr>

<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel assumenda quae beatae corrupti ab enim nisi qui
    facilis, officiis, corporis laboriosam id eaque, aspernatur soluta eos vero veniam praesentium pariatur.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis laborum deserunt perspiciatis veniam voluptatem.
    Dolores nesciunt rerum minus! Architecto ea illum perspiciatis aperiam commodi vitae, ipsam facilis placeat possimus
    repudiandae.
</p>